<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NEF.Plugins.CampaignActivityPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NEF.Plugins.CampaignActivityPlugin.Properties.Settings>
            <setting name="NEF_Plugins_CampaignActivityPlugin_com_euromsg_campaign_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="NEF_Plugins_CampaignActivityPlugin_com_euromsg_campaign_live_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="NEF_Plugins_CampaignActivityPlugin_com_euromsg_ws_Auth_Auth"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
        </NEF.Plugins.CampaignActivityPlugin.Properties.Settings>
    </applicationSettings>
</configuration>