<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpRuntime maxRequestLength="2147483647"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <services>
      <service name="NEF.WebServices.WebForm.WebForm" behaviorConfiguration="NEF.WebServices.WebForm.WebForm.Behavior">
        <endpoint address="" binding="basicHttpBinding" contract="NEF.WebServices.WebForm.IWebForm" bindingConfiguration="x" behaviorConfiguration="x"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>

          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="x" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
      <mexHttpBinding/>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NEF.WebServices.WebForm.WebForm.Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>

        <behavior name="x">

        </behavior>

      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>