<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NEF.ConsoleApp.SendCampaignActivityEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Tefal.ConsoleApp.SendCampaignActivityEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NEF.ConsoleApp.SendCampaignActivityEmail.Properties.Settings>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_auth_Auth" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/auth.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_campaign_Campaign" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/campaign.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_sendlist_SendList" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/sendlist.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_report_Report" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/report.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_campaign_live_Campaign" serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_auth_live_Auth" serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_sendlist_live_SendList" serializeAs="String">
                <value>http://ws.euromsg.com/live/sendlist.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_SendCampaignActivityEmail_com_euromsg_report_live_Report" serializeAs="String">
                <value>http://ws.euromsg.com/live/report.asmx</value>
            </setting>
        </NEF.ConsoleApp.SendCampaignActivityEmail.Properties.Settings>
        <Tefal.ConsoleApp.SendCampaignActivityEmail.Properties.Settings>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_auth_Auth" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/auth.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_campaign_Campaign" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/campaign.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_sendlist_SendList" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/sendlist.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_report_Report" serializeAs="String">
                <value>http://ws.euromsg.com/liveb/report.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_campaign_live_Campaign" serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_auth_live_Auth" serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_sendlist_live_SendList" serializeAs="String">
                <value>http://ws.euromsg.com/live/sendlist.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_SendCampaignActivityEmail_com_euromsg_report_live_Report" serializeAs="String">
                <value>http://ws.euromsg.com/live/report.asmx</value>
            </setting>
        </Tefal.ConsoleApp.SendCampaignActivityEmail.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="Working.Directory" value="c:\euroapps\workdir\sftp"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
