<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NEF.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Tefal.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NEF.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_auth_Auth"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/auth.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_campaign_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/campaign.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_report_Report"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/report.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_sendlist_SendList"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/sendlist.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_auth_live_Auth"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_campaign_live_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_report_live_Report"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/report.asmx</value>
            </setting>
            <setting name="Nef_ConsoleApp_CreateCampaignActivityAndList_sendlist_live_SendList"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/sendlist.asmx</value>
            </setting>
        </NEF.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings>
        <Tefal.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_auth_Auth"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/auth.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_campaign_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/campaign.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_report_Report"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/report.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_sendlist_SendList"
                serializeAs="String">
                <value>http://ws.euromsg.com/liveb/sendlist.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_auth_live_Auth"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/auth.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_campaign_live_Campaign"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/campaign.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_com_euromsg_ws_report_live_Report"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/report.asmx</value>
            </setting>
            <setting name="Tefal_ConsoleApp_CreateCampaignActivityAndList_sendlist_live_SendList"
                serializeAs="String">
                <value>http://ws.euromsg.com/live/sendlist.asmx</value>
            </setting>
        </Tefal.ConsoleApp.CreateCampaignActivityAndList.Properties.Settings>
    </applicationSettings>
</configuration>