<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NEF.ConsoleApp.TEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntegration" />
        <binding name="BasicHttpBinding_IWebForm" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.19.1.66:9092/Integration.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIntegration" contract="test2.IIntegration"
        name="BasicHttpBinding_IIntegration" />
      <endpoint address="http://fenixcrm.nef.com.tr:9091/CommonServices/Common.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
        contract="ServiceReference1.ICommon" name="BasicHttpBinding_IIntegration" />
      <endpoint address="http://fenix.nef.com.tr:9093/WebForm.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebForm"
        contract="WebFormTest.IWebForm" name="BasicHttpBinding_IWebForm" />
    </client>

  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
    <NEF.ConsoleApp.TEST.Properties.Settings>
      <setting name="NEF_ConsoleApp_TEST_com_euromsg_ws_Auth_Auth"
        serializeAs="String">
        <value>http://ws.euromsg.com/live/auth.asmx</value>
      </setting>
    </NEF.ConsoleApp.TEST.Properties.Settings>
  </applicationSettings>
</configuration>
